
/* impostazioni generali */

body{
    margin: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 70px;
}



/* HEADER */


header{
    background-color: rgba(255,105,0,255);
    box-shadow: 2px 2px 2px gray;
    height: 80px;
    width: 100%;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50
}

.container{
    height: 100%;
    margin: 0 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 0;
}

.modello{
    margin: 0 5px;
}

#logo{
    height: 50%;
}

i{
    margin: 0 5px;
}



/* MAIN */

main{
    margin: 80px 10% 0;
}

.product-col{
    width: 32%;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px 0 0;
}

.product-info{
    display: flex;
    flex-direction: column;
}

.foto-1{
    width: 100%;
    background-size: contain;  
}

.foto-2{
    width: 100%;
    background-size: contain;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

.product-image{
    position: relative;
}

.product-image:hover .foto-2{
    display: inline-block;
}

.like:hover .cuore-rosso{
    display: inline-block;
}

.like{
    cursor: pointer;
}

.label{
    background-color: rgba(255,0,0,255);
    color: white;
    padding: 5px 15px;
    position: absolute;
    bottom: 60px;
    left: 0;
    z-index: 10    
}

.cuore{
    background-color: white;
    font-size: 23px;
    padding: 8px;
    position: absolute;
    top: 15px;
    right: 0;
}

.cuore-rosso{
    background-color: white;
    color: red;
    font-size: 23px;
    padding: 8px;
    position: absolute;
    top: 15px;
    right: 0;
    display:none;
}


/* Descrizione prodotti */

.prezzo-scontato{
    color: rgba(255,0,0,255);
}

.prezzo-originale{
    text-decoration: line-through;
}



/* FOOTER */










